<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Listar Funcionário</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/principal.css" />
	<link rel="stylesheet" href="/css/funcionario.css" />
</head>

<body>
	<header class="header">
		<nav>
			<section class="nav__logo">
				<a href="/"><img class="img__logo" src="/img/Logo.png" alt="logo" /></a>
			</section>
			<section class="section__text">
				<a class="nav__link" href="/">HOME</a>
				<a class="nav__link" href="/Funcionario/listar">Listar Funcionários
				</a>
				<a class="nav__link nav__link__cargos" href="/Cargo/listar">Listar Cargos</a>
			</section>
		</nav>
	</header>
	<main>
		<h1>Lista de funcionários</h1>
	</main>
	<footer class="footer">
		<h3 class="disciplina">
			Projeto desenvolvido para a disciplina de Programação Orientada a
			objeto
		</h3>
		<h5 class="professor">Professor responsável: Luciano Pelissoli</h5>
		<h5 class="aluna">Aluna: Mágila M. S. Ferreira</h5>
		</section>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
		integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
		crossorigin="anonymous"></script>
</body>
</html>