<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boas vindas!!!</title>
    <link href="/css/principal.css" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <nav>
		<section class="nav__logo">
			<a href="index.html"><img class="img__logo" src="/img/Logo.png" alt="logo" /></a>
		</section>
		<section class="section__text">
			<a class="nav__link" href="funcionario/index.html">Listar Funcionários
			</a>
        	<a class="nav__link" href="cargo/index.html">Listar Cargos</a>
		</section>
      </nav>
    </header>
    <main>
      <div class="boas__vindas">
        <h1>Bem vindo, Usuário</h1>
        <section>
          <p>Escolha o tipo de <b>cadastro</b> que deseja realizar:</p>
          <div class="cadastro">
            <section class="section__funcionarios">
              <a href="funcionario/index.html">
                <img src="/img/people.png" alt="icone de funcionarios"
              /></a>
              <div>
                <a class="section__link" href="funcionario/index.html"
                  >Cadastrar Funcionários</a
                >
              </div>
            </section>
            <section class="section__cargos">
              <a href="cargo/index.html">
                <img src="/img/cargo.png" alt="icone de cargos"
              /></a>
              <div>
                <a class="section__link" href="/Cargo/inserir">
                  Cadastrar Cargos
                  </a
                >
              </div>
            </section>
          </div>
        </section>
      </div>
    </main>
    <footer class="footer">
        <h3 class="disciplina">
          Projeto desenvolvido para a disciplina de Programação Orientada a
          objeto
        </h3>
        <h5 class="professor">Professor responsável: Luciano Pelissoli</h5>
        <h5 class="aluna">Aluna: Mágila M. S. Ferreira</h5>
      </section>
    </footer>
  </body>
</html>
